<div style="text-align: center;">
<h2>With Material Toolbar</h2>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><material-sign (done)="showImage1($event)"></material-sign></mat-grid-tile>
    <mat-grid-tile><img [src]="signatureImage1" *ngIf="signatureImage1" /></mat-grid-tile>
</mat-grid-list>
<h2>Without Material Toolbar</h2>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><material-sign [showToolbar]="false" (done)="showImage2($event)"></material-sign></mat-grid-tile>
    <mat-grid-tile><img [src]="signatureImage2" *ngIf="signatureImage2" /></mat-grid-tile>
</mat-grid-list>
</div>